<%- include("header") -%>

<h2>This is about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo rerum nisi hic. Vitae alias, labore, deserunt a harum eaque temporibus voluptatibus quia recusandae culpa maxime corporis est suscipit obcaecati consectetur quaerat magni facilis deleniti. Recusandae pariatur vitae ab qui natus quasi placeat, deleniti blanditiis dolore? Necessitatibus ad laboriosam quia nihil.</p>

<%- include("footer") -%>